@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4 bebas-neue-regular">Learn More About Us.</h1>
</div>

<div>

    
    <p class="highlight-text">
        KhumaloCraft is the home to the world's finest  craft pieces, including products from Europe to Asia all in one
        global shopping  platform. Founded by James Khumalo and based on a  dream, here our mission is to celebrate the
        creativity of artisans worldwide by providing user-friendly online marketplace.
    </p>
    <br />

    <p class="highlight-text">
        Our platform serves as a digital gallery, used to highlight the diverse stories behind each handcrafted piece.
        From textiles to timeless pottery, we strive to not only showcase the products but also provide insights into the
        creator's life,
        traditions, techniques, inspirations, and heritage.

    </p>
    <br />

    <p class="highlight-text">
        James Khumalo dreams of KhumaloCraft Emporium becoming more than just a marketplace; he envisions it as a platform dedicated to
        showcasing the craftsmanship of artisans from diverse cultures and backgrounds.
    </p>
    <br />
    <p class="highlight-text">
        At KhumaloCraft Emporium, we're more than just a marketplace; we're a community, a home for artists and clients who share the
        same appreciation for craftsmanship, art, culture, and creativity. Join us on this journey to celebrate human creativity through the art of handcrafting, one masterpiece at a time.
        <img src="~/images/home/311456724_max.jpg" class="full-width" />

    </p>
  
</div>

<style>
    .highlight-text {
        font-size: 1.25em;
        font-weight: bold;
    }
</style>