@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4 bebas-neue-regular">Welcome to the realm of artistic expression.</h1>
</div>
<div>
    <p class="highlight-text">
        At Khumalo Craft, our mission is to celebrate diversity through art. We provide a platform where artisans from around the world can showcase their wonderfully crafted creations.
        Our goal is to create a vibrant online marketplace where clients and artists join together to celebrate the rich diversity of art.
    </p>
    <br /> 
    <p class="highlight-text">
        Together, let's make a community where the elegance of handmade craftsmanship thrives.
        We want to inspire both creators and clients alike, to create a deeper appreciation for the rich wonders of artwork that surrounds us.
        For further insight into our journey, explore our 'About Us' section and delve into our narrative.

        <img src="~/images/home/tammy-kanat-textile-art-19.jpg" class="full-width" />
    </p>

</div>



<style>
    .highlight-text {
        font-size: 1.25em;
        font-weight: bold;
    }  

</style>